
<!-- 

{{message}}

    <button routerLink="/booklist" (click)="newMessage(1)">Fiction</button>
    <button routerLink="/booklist" (click)="newMessage(2)">Philosophy</button> -->


    <html>
    <head>
        
    </head>
    <body>
    <div class="wrapper">

        <div class="header">
            <div class="header">
                <h1>Gutenberg Project</h1>
                <h4>A social cataloging website that allows you to freely search its database of books, annotations,
                    and reviews.</h4>
            </div>
        </div>
        
        <div class="cards">
            <div class="card">
                <div>
                    <button routerLink="/booklist" (click)="newMessage(1)" class="btn">Fiction
                        <i  class="arrow right"></i>
                   </button>
               </div>

            </div>
            <div class="card">
                <div>
                    <button routerLink="/booklist" (click)="newMessage(2)" class="btn">History
                        <i  class="arrow right"></i>
                    </button>
                </div>
            </div>
            <div class="card">
                <div>
                    <button routerLink="/booklist" (click)="newMessage(3)" class="btn">Drama
                        <i class="arrow right"></i>
                    </button>
                </div>
            </div>
            <div class="card">
                <div>
                    <button routerLink="/booklist" (click)="newMessage(4)" class="btn">Humor
                        <i class="arrow right"></i>
                    </button>
                </div>
            </div>
            <div class="card">
                <div>
                    <button routerLink="/booklist" (click)="newMessage(5)" class="btn">Philosophy
                        <i class="arrow right"></i>
                    </button>
                </div>
            </div>
            <div class="card">
                <div>
                    <button routerLink="/booklist" (click)="newMessage(6)" class="btn">Adventure
                        <i class="arrow right"></i>
                    </button>
                </div>
            </div>
            <div class="card">
                <div>
                    <button routerLink="/booklist" (click)="newMessage(7)" class="btn">Politics
                        <i class="arrow right"></i>
                    </button>
                </div>
            </div>
          </div>
    </div>      
    </body>
</html>